*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}
  
body{
    height: 100vh;
    background-color: #AAC9FF;
    background-color: #ECF3FF;
    font-family: "Anta", sans-serif;
    display: flex;
    flex-direction: column;
}
.header-main{
    margin: 0;
    height: 90px;
    background-color: #3b5998;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
main{
    width: 100%;
    height: calc(100vh - 90px);
    display: flex;
    
}
.section1{
    flex: 1;
    
}
img{
    width: 600px;
    display: block;
    margin: 20px;
}
.cadastro{
    color: black;
}
.section2{
    flex: 1;
}
.section2 h2, .section2 p{
    color: black;
}
.logo{
    color: white;
    font-size: 25px;
}

.form-header{
    display: flex;
}
label{
    margin-left: 15px;
    font-size: 13px;
}
input{
    
   padding: 3px;
}
.frase-senha{
    padding-top: 5px;
    padding-left: 5px;
}
button{
    background-color: #2e4475;
    width: 70px;
    height: 30px;
    padding: 5px;
    margin: 12px 0 0 11px;
    border: 0;
}
.inscreva{
    width: 200px;
}
